*{
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  margin-top: 50px ;
  width: 500px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-sentence button{
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
.button-sentence button:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
	transition: all .3s ease-out;
  cursor: pointer;
}

.button-sentence{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence{
  background-color: whitesmoke;
  padding: 12px;
  border-radius: 10px;
  margin: 10px;
  font-size: 14pt;
  font-weight: 500;
  font-style: italic;
  opacity: 0;
  
}

.show{
  
  opacity: 1;
  transition: all 1s ;
}